.game-button {
    width: 250px;
    height: 250px;
    background-color: white;
    color: #FF9500;
    padding: 12px 24px;
    border: none;
    border-radius: 20px;
    border: 2px solid #FF9500;
    font-size: 24px;
    font-weight: 500;
    cursor: pointer;
}

.custom-button:hover {
    width: 280px;
    height: 280px;
    background-color: #FF9500;
    color: white;
}

    .custom-button:disabled {
        background-color: #ccc;
        cursor: not-allowed;
    }
