body {
    background-image: url(../assets/background.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; 
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

.auth-container {
    display: flex;
    justify-content: center;
    align-items: stretch;
    height: 80vh;
    max-width: 1000px;
    margin: 0px auto;
    gap: 0;
    background-color: transparent;
}

.auth-left, .auth-right {
    flex: 1;
    margin-top: 80px;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 140px 40px 140px 40px;
    box-sizing: border-box;
}

.auth-left {
    background-color: white;
    flex-direction: column;
    border-radius: 20px 0px 0px 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

    .auth-left img {
        width: 100%;
        max-width: 400px;
        height: auto;
    }

.auth-right {
    flex-direction: column;
    background-color: black;
    color: white;
    position: relative;
    text-align: center;
    border-radius: 0px 20px 20px 0px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

    .auth-right form {
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 100%;
        max-width: 350px;
    }

input {
    padding: 15px;
    border-radius: 15px;
    border: none;
    font-size: 16px;
}

button {
    padding: 15px 20px 15px 20px;
    background-color: #FF9500;
    color: white;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-size: 16px;
    transition: all 0.3s ease;
    width: fit-content;
    align-self: center;
    margin-top:20px;
}

    button:hover {
        background-color: white;
        color: #FF9500;
        border: 2px solid #FF9500;
        padding: 14px 19px 14px 19px;
    }

h1 {
    margin-bottom: 50px;
    font-size: 30px;
}

.error {
    color: orangered;
    margin-top: 10px;
    margin-bottom: 0;
}

.register-hint {
    margin-top: 20px;
    font-size: 14px;
}

.toggle-link {
    color: #FF9500;
    text-decoration: underline;
}

@media (max-width: 768px) { /*Ania*/
    .auth-container {
        flex-direction: column;
    }

    .auth-left, .auth-right {
        flex: none;
        width: 100%;
        height: auto;
    }
}
