.container {
    display: flex; /* Uk³ad Flexbox */
    justify-content: center; /* Wyœrodkowanie poziome */
    align-items: center; /* Wyœrodkowanie pionowe */
    height: 100vh; /* Pe³na wysokoœæ ekranu */
   
}

.box {
    width: 450px;
    height: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
}

.white-container {
    border-radius: 20px 0px 0px 20px;
   
    background-color: white;
    padding: 150px 25px 150px 25px;
}

.black-container {
    border-radius: 0px 20px 20px 0px;
    padding: 150px 25px 150px 25px;
    text-align: center;
    background-color: black;
    
}
h2{
    margin-bottom: 40px;
}

input {
    width: 80%;
    padding: 15px;
    margin: 10px auto;
    border-radius: 20px;
    background-color: white;
    border: none;
    color: black;
}

img{
    width:400px;
    height:400px;
}

button {
    margin-top: 40px;
    width: auto;
    padding: 15px 25px;
    background-color: #FF9500;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

    button:hover {
        background-color: white;
        border: -1px solid #FF9500;
        color: #FF9500;
    }
